<div class="breadcumbs">
  <img src="../../../../../assets/images/commonbanner.jpg" height="350px" width="100%">
  <div class="breadcumbs-text">
    <p class="pt-2 pl-3 pb-2">Home > Online Brochure</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3 class="heading">Online Brochure</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="mt-2">Welcome to LUXURYHOLIDAYSDIRECT.COM - the fastest and friendliest 'one-stop' route to the very best in luxury holidays to some of the most fabulous resorts worldwide.</p>
      <p>So what makes us different from the rest?</p>
      <p>Well, as you might expect from the name, LUXURYHOLIDAYSDIRECT.COM is a facility that's 100% online. Easy to use. Instantly accessible around the clock & purpose created to provide that automatic first port-of-call when you want to find & book a luxury long-haul holiday online at: www.luxuryholidaysdirect.com</p>
      <p>The choice is enormous. The flexibility total. That's because travel to faraway places is our specialty. The Indian Ocean, Africa, India, Arabia, Far East, Caribbean, the Americas and the South Pacific. We know them all and we know them well. Our extensive expertise and meticulous research underpin the superb portfolio of choice that we offer you.</p>
      <p>We're also about offering that something extra - with lifestyle luxury its theme and serious pampering its purpose. We're geared to meeting the needs of the discerning independent traveler. We use only scheduled air services. We're flexible.And we're thorough. If there's such a thing as a designer luxury holiday then here's where you'll find it.</p>
      <p>No less importantly, LUXURY HOLIDAYS DIRECT is firmly committed to providing the best in value - in short, on-line prices that simply cannot be beaten.</p>
      <button class="onlinebutton">View Online</button>
    </div>
  </div>
</div>
