.heading {
    color: #333;
    text-transform: uppercase;
    font-size: 24px;
    text-align: left;
  }
.heading::after {
    content: "";
    border-bottom: 4px solid #319197;
    width: 13%;
    display: block; 
}

p {
  font-size: 18px;
}


.onlinebutton {
  border-radius: 3px;
  width: 170px;
  font-size: 18px;
  height: 40px;
  border: none;
  background-color: #099097;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px;
}