<div class="breadcumbs">
  <img src="../../../../../assets/images/partner_airlines/image1.png" height="350px" width="100%">
  <div class="breadcumbs-text">
    <p class="pt-2 pl-3 pb-2">Home > Covid-19</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3 class="heading">Covid-19</h3>
    </div>
  </div>
  <div class="mt-2 mb-5">
    <input id="_1" type="checkbox"> 
    <label class="drop drop1" for="_1">Information for departures from the UK</label>
    <div class="content content1 mb-2">
      <p class="mb-4"><b>Pre-departure and post-arrival tests on return to UK are required for all international travel.</b></p>
      The UK Government has provided clarity on the traffic light system and entry requirements for destinations with international travel set to resume soon.<br><br> Now that we have the facts, we can provide you with latest travel information for the destinations you are planning to travel to. The rules currently in place are based on returning to England. The government has announced that the traffic light status of destinations will be reviewed regularly every 3 weeks from 17 May with the traffic light policy itself reviewed at the end of June, July and October.<br><br>
      We are continuing to monitor the situation closely and are advising guests to check the latest FCDO advice for full destination information.
    </div>

    <input id="_2" type="checkbox"> 
    <label class="drop drop2" for="_2">Getting a Covid-19 Test</label>
    <div class="content content2 mb-2">
    </div>

    <input id="_3" type="checkbox"> 
    <label class="drop drop3" for="_3">Confidence in Booking</label>
    <div class="content content3 mb-2">
    </div>
  </div>
</div>
