<div class="breadcumbs">
  <img src="../../../../../assets/images/partner_airlines/image1.png" height="350px" width="100%">
  <div class="breadcumbs-text">
    <p class="pt-2 pl-3 pb-2">Home > Partner Airlines</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="../../../../../assets/images/partner_airlines/image2.jpg" width="100%" height="100%">
    </div>
    <div class="col-12 col-md-6">
      Air Mauritius operates four non-stop flights weekly from London- Heathrow by modern Airbus A340 aircraft. Air Mauritius not only welcomes you to Mauritius but also opens up the world beyond twinning an Indian Ocean stay with other destinations like South Africa, Hong Kong, and India. Regional connections from 17 UK and Ireland airports ensures that you’re only a short flight away from your NON-STOP Air Mauritius flight to Paradise.<br><br>
      AIR MAURITIUSThe airline’s flagship product is available on two next-generation A340- 300E* aircraft, which offers you the choice of either a brand NEW Business Class or a greatly enhanced Economy class cabin. All Economy Class seats feature individual 9” touch screen seat-back video screens with a choice of 50 video and 60 audio channels of entertainment on demand (AVOD), a selection of two hot main courses and friendly Mauritian service to put you in the holiday mood.<br><br>
      BUSINESS CLASS The NEW Business Class launched in May 2008 • 34 Cocoon style seats at 60 "pitch • Lie flat bed stretching 175" degrees • Airport lounge access before departure in Mauritius and London• Gourmet meal service. Please contact us for further details and best rates available.<br><br>
      <b>* Available on flights to/from London Heathrow only</b><br>
      <b>Return flight upgrades starting from £395 in Business Class</b>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      EMIRATES With 13 daily flights direct to DUBAI from five UK airports including London-Heathrow and Gatwick, Glasgow, Manchester and Birmingham, Emirates offers maximum choice and flexibility with connections from Dubai to neighboring Arab states.<br><br>
      The carrier also operates regular connections to Mauritius, Seychelles, India, Maldives and more. Emirates’ fleet of Boeing 777-300’s and Airbus A333-300’s maintains a high standard in-flight comfort and service (including Economy Class with adjustable footrest, headrest, and personal TV screen). Available on most flights is the new ‘ICE’ (Information, Communication, Entertainment) system with over 500 entertainment channels and 40 interactive video games.<br><br>
      FIRST CLASS If first impressions count, then First Class impressions count more so. Enjoy First Class Lounge access • Spacious First Class cabins offering complete privacy and sleeper seats separated by wide aisles • First Class meals individually prepared accompanied by an extensive range of award-winning wines.<br><br>
      BUSINESS CLASS Reputation of Excellence • Large sleeperette seats that recline of 11.5” • Foot and head rests that provide plenty of room to spread out and work or relax • Lounge Access departure airports• Supreme dining experience with canapés and a delicious six-course meal.<br><br>
      <b>* Available on flights to/from London Heathrow only</b><br>
      <b>Return flight upgrades starting from £395 in Business Class</b>
    </div>
    <div class="col-12 col-md-6">
      <img src="../../../../../assets/images/partner_airlines/image2.jpg" width="100%" height="100%">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="../../../../../assets/images/partner_airlines/image2.jpg" width="100%" height="100%">
    </div>
    <div class="col-12 col-md-6">
      VIRGIN ATLANTIC has become one of the world’s most famous airlines by offering you all those little on-board extras that make such a difference. Virgin Atlantic provides a daily service to India, Dubai, Hong Kong, South Africa and the USA, with additional services to certain parts of the Caribbean. Virgin Atlantic also offers a bi-weekly direct service between London Gatwick and to Mauritius with flights on Fridays and Sundays.<br><br>
      UPPER CLASS A new window has been built into the wall of each suite, giving them more light and space but its opaque design offers the same levels of privacy. • Each suite has a 12.1 inch touchscreen monitor with a touchscreen handset loaded with a brand new entertainment system called JAM. It's been consistently rated excellent by more than 80% of passengers. • The new passenger control unit still has lumbar support plus clever firm touch buttons to prevent accidental activation. • There's more storage than ever, with a new literature pocket and two ottoman storage solutions. • Laptops can be powered throughout the flight with in-seat power supply compatible with most international plug types. • All of the A330 aircraft have the Aero Mobile system installed so that mobile phones work on board. • With the new technology hub, passengers can connect their smart phone, USB stick or tablet to JAM, watch, read or listen to their own content, plus charge their device.<br><br>
      More destinations will be added as the rest of the A330 aircraft join the fleet throughout 2012, and new 787 aircraft from 2014.<br><br>
      PREMIUM ECONOMY The biggest in its class! • Dedicated Premium Economy check- in • Priority boarding and baggage handling • Comfort in your armchair with a seat pitch of 80”, wider seats and more legroom • Personal seatback TV offering the latest blockbuster movies • Fine dining experience.
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      PREMIUM ECONOMY The biggest in its class! • Dedicated Premium Economy check- in • Priority boarding and baggage handling • Comfort in your armchair with a seat pitch of 80”, wider seats and more legroom • Personal seatback TV offering the latest blockbuster movies • Fine dining experience.<br><br>
      WORLD TRAVELLER PLUS You are in good hands • Larger seats with 7” more leg-room • Each seat features lumbar support, footrest, adjustable headrest and recline • Tasty meals designed by leading chefs • 'Kids Eat First' policy.<br><br>
      CLUB WORLD Introducing a new Club World • New seat is 25% wider and converts into a fully flat bed† • New Club Kitchen is open between meal times with complimentary hot or cold snacks • Access to Departure/Arrivals lounges, unwind with a complimentary drink and paper or visit the Travel Spa.<br><br>
      FIRST DEDICATED FIRST check-in desks • Access to Arrival/Departure lounges including the Travel Spa at London Heathrow • Exclusive privacy with personal 'demi cabin' space • Enhanced seat converting to a 6’6” fully-flat bed at the touch of a button • À la carte dining and finest wines and champagnes • Priority identification of luggage.<br><br>
      <b>Return flight upgrades start from £215 in World Traveller Plus / £437 in Club World.</b>
    </div>
    <div class="col-12 col-md-6">
      <img src="../../../../../assets/images/partner_airlines/image2.jpg" width="100%" height="100%">
    </div>
  </div>
</div>