<div class="breadcumbs">
  <img src="../../../../../assets/images/commonbanner.jpg" height="350px" width="100%">
  <div class="breadcumbs-text">
    <p class="pt-2 pl-3 pb-2">Home > Request a Quote</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3 class="heading">Request Quote</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <h6 class="mt-2">YOUR BOOKING IS SAFE.</h6>
      <p>We are ABTA licensed and ATOL bonded to protect your booking.</p>
      <img src="../../../../../assets/images/abta_black.png">
      <h6 class="my-4">OUR PROMISE TO YOU</h6>
      <div class="main-list">
        <p class="list-text"><img src="../../../../assets/images/list-icon.svg" class="list-icon"> Tour operating
          for
          over 40 years</p>
        <p class="list-text"><img src="../../../../assets/images/list-icon.svg" class="list-icon"> Hassle free
          Service! Personalised service where we source the deals for you</p>
        <p class="list-text"><img src="../../../../assets/images/list-icon.svg" class="list-icon"> Offering over
          400
          holidays worldwide catered for all budgets</p>
        <p class="list-text"><img src="../../../../assets/images/list-icon.svg" class="list-icon"> Destination
          specialists guaranteed to answer your needs swiftly</p>
        <p class="list-text"><img src="../../../../assets/images/list-icon.svg" class="list-icon"> A family owned
          Independent business</p>
        <p class="list-text"><img src="../../../../assets/images/list-icon.svg" class="list-icon"> Price Match
          Guarantee</p>
        <p class="list-text"><img src="../../../../assets/images/list-icon.svg" class="list-icon"> Low deposits
          and
          flexible payment policies</p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="quotepopup">
        <table class="table table-borderless">
          <tr>
            <td>
              <h3 class="quote-heading">REQUEST QUOTE</h3>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p class="quote-para">Please enter your details below and one of our Travel Expert will contact you to discuss about your holiday</p>
            </td>
          </tr>
          <tr>
            <td class="selecttd">
              <span class="label">Departure Airport</span>
              <select name="deptairport" id="deptairport" class="selectinput">
                <option selected>Select Dept. Airport</option>
              </select>
            </td>
            <td class="selecttd">
              <span class="label">Departure Date</span>
              <select name="deptdate" id="deptdate" class="selectinput">
                <option selected>14/06/2021</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <span class="label">No. of Nights</span>
              <select name="deptairport" id="deptairport" class="selectinput">
                <option selected>Select No. of Nights</option>
              </select>
            </td>
            <td>
              <span class="label">No.of Rooms</span>
              <select name="deptdate" id="deptdate" class="selectinput">
                <option selected>2</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <span class="label">Board Basics</span>
              <select name="deptairport" id="deptairport" class="selectinput">
                <option selected>Select Board Basics</option>
              </select>
            </td>
            <td rowspan="2">
              <span class="label">Message</span><br>
              <textarea class="selecttextarea" placeholder="Enter Message"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <span class="label">Budget</span><br>
              <select name="deptairport" id="deptairport" class="selectinput">
                <option selected>Select Budget</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <span class="label">First Name</span>
              <input type="text" class="selectinput" placeholder="Ener First Name">
            </td>
            <td>
              <span class="label">Last Name</span>
              <input type="text" class="selectinput" placeholder="Ener Last Name">
            </td>
          </tr>
          <tr>
            <td>
              <span class="label">Email ID</span><br>
              <input type="text" class="selectinput" placeholder="Ener Email ID">
            </td>
            <td>
              <span class="label">Phone Number</span>
              <input type="text" class="selectinput" placeholder="Ener Phone Number">
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input type="checkbox">
              <span class="quote-para">I would like to receive the luxuryholidaysdirect.com newsletter & other relevant communications.</span>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button class="quotebutton">Request a Quote</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>