<div class="breadcumbs">
    <img src="../../../../../assets/images/offer_deals/offers-deals-banner.png" height="350px" width="100%">
    <div class="breadcumbs-text">
      <p class="pt-2 pl-3 pb-2">Home > Tours</p>
    </div>
  </div>
  <div class="offer-header mb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h3 class="offers-deals-heading">Tours</h3>
        </div>
        <div class="col-md-3">
          <select class="form-control">
            <option>Choose Destination</option>
            <option>Choose Destination</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="container"> 
    <div class="row mb-4">
      <div class="col-md-3 mt-4">
        <div class="hotel-grid">
          <img src="../../../../../assets/images/offer_deals/hotel1.png" width="100%">
          <div class="hotel-grid-text">
            <h5 class="mb-1">Kanuhura Maldives</h5>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="hotel-grid">
          <img src="../../../../../assets/images/offer_deals/hotel2.png" width="100%">
          <div class="hotel-grid-text">
            <h5 class="mb-1">Kanuhura Maldives</h5>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="hotel-grid">
          <img src="../../../../../assets/images/offer_deals/hotel3.png" width="100%">
          <div class="hotel-grid-text">
            <h5 class="mb-1">Kanuhura Maldives</h5>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="hotel-grid">
          <img src="../../../../../assets/images/offer_deals/hotel4.png" width="100%">
            <div class="hotel-grid-text">
            <h5 class="mb-1">Kanuhura Maldives</h5>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div> 
    <div class="row mb-4">
      <div class="col-md-3 mt-4">
        <div class="hotel-grid">
          <img src="../../../../../assets/images/offer_deals/hotel1.png" width="100%">
          <div class="hotel-grid-text">
            <h5 class="mb-1">Kanuhura Maldives</h5>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="hotel-grid">
          <img src="../../../../../assets/images/offer_deals/hotel2.png" width="100%">
          <div class="hotel-grid-text">
            <h5 class="mb-1">Kanuhura Maldives</h5>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="hotel-grid">
          <img src="../../../../../assets/images/offer_deals/hotel3.png" width="100%">
          <div class="hotel-grid-text">
            <h5 class="mb-1">Kanuhura Maldives</h5>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
              </div>
            </div> 
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-4">
        <div class="hotel-grid">
          <img src="../../../../../assets/images/offer_deals/hotel4.png" width="100%">
            <div class="hotel-grid-text">
            <h5 class="mb-1">Kanuhura Maldives</h5>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
              </div>
              <div class="col-md-4">
                <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div> 
  </div>