<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mt-5">
        <h3 class="footer-heading">
          Need Help?
        </h3>
        <div class="call-text">
          <p class="call-us-text">Call Us</p>
          <p class="call-us-num">020 8774 7298</p>
        </div>
        <div class="email-text">
          <p class="call-us-text">Email Us</p>
          <p class="call-us-num">020 8774 7298</p>
        </div>
        <div class="social-icon">
          <p class="call-us-text">Follow Us</p>
          <div class="footer-social-icons">
            <img src="/assets/images/home_page/facebook.svg" alt="LHD slider" width="29px"> <span class="mr-1"></span>
            <img src="/assets/images/home_page/instagram.svg" alt="LHD slider" width="29px"><span class="mr-1"></span>
            <img src="/assets/images/home_page/linkedin.svg" alt="LHD slider" width="29px"><span class="mr-1"></span>
            <img src="/assets/images/home_page/twitter.svg" alt="LHD slider" width="29px">
          </div>
        </div>
      </div>
      <div class="col-md-2 mt-5">
        <h3 class="footer-heading">
          Quick Links
        </h3>
        <div class="footer-links">
          <li><a class="footer-links" routerLink="/contact/aboutus">About Us</a></li>
          <li><a class="footer-links" routerLink="/contact/contactus">Contact Us</a></li>
          <li><a class="footer-links" routerLink="">Sitemap</a></li>
          <li><a class="footer-links" routerLink="/contact/covid19">Covid-19</a></li>
          <li><a class="footer-links" routerLink="/contact/travelwise">Travelwise</a></li>
          <li><a class="footer-links" routerLink="/contact/requestquote">Request a Quote</a></li>
        </div>
      </div>
      <div class="col-md-3 mt-5">
        <h3 class="footer-heading">
          Top Destinations
        </h3>
        <div class="footer-links">
          <li>Maldives</li>
          <li>Dubai</li>
          <li>Paris</li>
          <li>Barbados</li>
          <li>India</li>
          <li>Malaysia</li>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <h3 class="footer-heading">
          Recommended Hotels
        </h3>
        <div class="footer-links">
          <li>The Westin Mauritius Turtle Bay Resort</li>
          <li>Hilton Seychelles Labriz Resort and Spa</li>
          <li>Cobblers Cove</li>
        </div>

        <h3 class="footer-heading mt-3">
          Your booking is secure
        </h3>
        <div class="footer-links">
          <li>We are ABTA licensed and ATOL bonded to protect your booking</li>
          <img src="../../../assets/images/footer-abta.png">
        </div>
      </div>
    </div>
    <hr class="footer-border">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-left white-font">
          <a class="white-font" routerLink="/offers/list">Offers & Deals</a> | <a class="white-font" routerLink="">Weddings & Honeymoons</a> | <a class="white-font" routerLink="/tours/list">Tours</a> | <a class="white-font" routerLink="/contact/partnerairlines">Partner Airlines</a> | <a class="white-font" routerLink="/contact/onlinebrochure">Online Brochure</a> | <a class="white-font" routerLink="/contact/bookingconditions">Booking Conditions</a> | <a class="white-font" routerLink="/contact/privacypolicy">Privacy Policy & Cookies</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-right white-font">
          ©2020 - 2021 Luxury Holidays Direct. All Rights Reserved. 
          Luxury Holidays Direct brings you affordable luxury holidays.
        </div>
      </div>
    </div>
  </div>

</footer>