<div class="breadcumbs">
  <img src="../../../../../assets/images/offer_deals/offers-deals-banner.png" height="350px" width="100%">
  <div class="breadcumbs-text">
    <p class="pt-2 pl-3 pb-2">Home > Offers & Deals</p>
  </div>
</div>
<div class="offer-header mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3 class="offers-deals-heading">Offers & Deals</h3>
      </div>
      <div class="col-md-3">
        <select class="form-control">
          <option>Low - High</option>
          <option>High - Low</option>
        </select>
      </div>
    </div>
  </div>
</div>
<!-- search tours form-->
<div class="search-tours-offer">
  <div class="container">
    <div class="search-tours-wrap">
      <div class="search-tours-content">
        <div data-tours-cat="tab-cat-1" class="tours-container active">
          <div class="tours-box">
            <div class="tours-search">
              <form method="post" class="form search divider-skew">
                <div class="search-wrap">
                  <input type="text" placeholder="Type to Search" class="form-control search-field"><i
                    class="search-icon"></i>
                </div>
              </form>
              <div class="selection-box divider-skew"><i class="flaticon-suntour-adult box-icon"></i>
                <select class="form-control">
                  <option>Destination</option>
                  <option>India</option>
                  <option>Maldives</option>
                  <option>Arabia</option>
                  <option>Mexico</option>
                </select>
              </div>
              <div class="selection-box"><i class="flaticon-suntour-children box-icon"></i>
                <select class="form-control">
                  <option>Price</option>
                  <option>£500 - £1500</option>
                  <option>£1500 - £2500</option>
                  <option>£2500 - £3500</option>
                  <option>£3500 - £5000</option>
                </select>
              </div>
              <div class="button-search">Search</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container"> 
  <div class="row mb-4">
    <div class="col-md-3 mt-4">
      <div class="hotel-grid">
        <img src="../../../../../assets/images/offer_deals/hotel1.png" width="100%">
        <div class="hotel-grid-text">
          <h5 class="mb-1">Kanuhura Maldives</h5>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      <div class="hotel-grid">
        <img src="../../../../../assets/images/offer_deals/hotel2.png" width="100%">
        <div class="hotel-grid-text">
          <h5 class="mb-1">Kanuhura Maldives</h5>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      <div class="hotel-grid">
        <img src="../../../../../assets/images/offer_deals/hotel3.png" width="100%">
        <div class="hotel-grid-text">
          <h5 class="mb-1">Kanuhura Maldives</h5>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      <div class="hotel-grid">
        <img src="../../../../../assets/images/offer_deals/hotel4.png" width="100%">
          <div class="hotel-grid-text">
          <h5 class="mb-1">Kanuhura Maldives</h5>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div> 
  <div class="row mb-4">
    <div class="col-md-3 mt-4">
      <div class="hotel-grid">
        <img src="../../../../../assets/images/offer_deals/hotel1.png" width="100%">
        <div class="hotel-grid-text">
          <h5 class="mb-1">Kanuhura Maldives</h5>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      <div class="hotel-grid">
        <img src="../../../../../assets/images/offer_deals/hotel2.png" width="100%">
        <div class="hotel-grid-text">
          <h5 class="mb-1">Kanuhura Maldives</h5>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      <div class="hotel-grid">
        <img src="../../../../../assets/images/offer_deals/hotel3.png" width="100%">
        <div class="hotel-grid-text">
          <h5 class="mb-1">Kanuhura Maldives</h5>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
            </div>
          </div> 
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-4">
      <div class="hotel-grid">
        <img src="../../../../../assets/images/offer_deals/hotel4.png" width="100%">
          <div class="hotel-grid-text">
          <h5 class="mb-1">Kanuhura Maldives</h5>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-calendar.svg"> <span class="offer-date">01 Jun 22 - 30 Sep 22</span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/yellow-stars.svg" width="100%">
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <img src="../../../../../assets/images/offer_deals/offer-price.svg" class="offer-price-img" width="16px"> <span class="offers-deals-price"> 1055<sub>pp</sub></span>
            </div>
            <div class="col-md-4">
              <img src="../../../../../assets/images/offer_deals/offer-time.svg" width="14px"> <span class="offer-date">7 Nights</span>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div> 
</div>
    <!-- <mat-card class="custom-card front">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ (project$ | async)?.title }}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image [src]="project.thumbnail" alt="Photo of a Shiba Inu"> -->
    <!--<mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="active" mat-button>READ MORE</button>
        <button class="active" mat-button>{{ project.id }}</button>
      </mat-card-actions>
    </mat-card> -->