@import '~bootstrap/scss/bootstrap';

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Open-sans, Arial, sans-serif'
);

@import './styles/styles-variables';
@import './styles/style-reset';
@import './styles/styles-reset.scss-theme';

@include mat-core();

@import './themes/black-theme.scss';
@import './themes/light-theme.scss';

// @import 'app/modules/home/page/project-item/project-container.component.scss-theme.scss';

@mixin custom-components-theme($theme) {
  @include my-styles-reset-theme($theme);
  // @include my-project-container-component-theme($theme);
}

.afs-light-theme {
  @include angular-material-theme($afs-light-theme);
  @include custom-components-theme($afs-light-theme);
}

.afs-dark-theme {
  @include angular-material-theme($afs-black-theme);
  @include custom-components-theme($afs-black-theme);
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Open Sans", sans-serif; }

.main-spacer {
    flex: 1 1 auto;
  }
.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mr-5{
    margin-right: 5px;
}
.top-toolbar{
    min-height: 80px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    border-radius: 0px !important;
}
.verticle-center{
    display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu{
    background: #fff !important;
    width: 90% !important;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 99999;
    height: auto;
}
.contact-info{
  position: relative;
  top: -10px;
  right : -10px;
}
.social-icons{
  position: relative;
  top: -15px;
  left: -10px;
}
.socialicons {
  width: 29px;
}
.contact-text{
  position: relative;
  top: -7px;
  left: 5px;
}
.uppercase-text{
    text-transform: uppercase !important;
} 
.mat-grid-tile-content{
margin: 5px !important;
}
mat-card-header.mat-card-header {
    position: absolute;
    bottom: 50px;
    background: white;
    width: 90%;
    left: 20px;
}
.mat-card-header-text {
    margin-top: 10px !important;
    margin-left: 10px;
}
.carousel-indicators{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.afs-dark-theme .mat-flat-button, .afs-dark-theme .mat-raised-button, .afs-dark-theme .mat-fab, .afs-dark-theme .mat-mini-fab {
  color: white;
  background-color: #e7e7e7;
}
.afs-dark-theme .mat-flat-button.mat-primary.mat-button-disabled, .afs-dark-theme .mat-flat-button.mat-accent.mat-button-disabled, .afs-dark-theme .mat-flat-button.mat-warn.mat-button-disabled, .afs-dark-theme .mat-flat-button.mat-button-disabled.mat-button-disabled, .afs-dark-theme .mat-raised-button.mat-primary.mat-button-disabled, .afs-dark-theme .mat-raised-button.mat-accent.mat-button-disabled, .afs-dark-theme .mat-raised-button.mat-warn.mat-button-disabled, .afs-dark-theme .mat-raised-button.mat-button-disabled.mat-button-disabled, .afs-dark-theme .mat-fab.mat-primary.mat-button-disabled, .afs-dark-theme .mat-fab.mat-accent.mat-button-disabled, .afs-dark-theme .mat-fab.mat-warn.mat-button-disabled, .afs-dark-theme .mat-fab.mat-button-disabled.mat-button-disabled, .afs-dark-theme .mat-mini-fab.mat-primary.mat-button-disabled, .afs-dark-theme .mat-mini-fab.mat-accent.mat-button-disabled, .afs-dark-theme .mat-mini-fab.mat-warn.mat-button-disabled, .afs-dark-theme .mat-mini-fab.mat-button-disabled.mat-button-disabled {
  background-color: rgb(255 255 255 / 40%);
}
.search-tours-form {
  position: absolute;
  z-index: 20;
  bottom: 20%;
  left: 50%;
  width: 79%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.search-tours-offer {
  position: relative;
  z-index: 9999; 
}
@media only screen and (max-width: 750px) {
  .search-tours-wrap .search-tours-content .tours-container .selection-box:before{
    border-right:none !important ;
  }
  .main-slider {
    position: relative;
    margin-top: 60px;
  }
  .social-icons {
    text-align: center;
    top: 0px;
  }
  .socialicons {
    width: 15px;
  }
  .contact-info{
    text-align: center;
    top: 0px;
  }
  .main-menu {
    background: #fff !important;
    width: 100% !important;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 99999;
    height: auto;
  }
  .search-tours-form {
    position: absolute;
    /* z-index: 20; */
    bottom: 35%;
    /* left: 15%; */
    width: 70%;
   /*  -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); */
  }
  .slider-text {
    width: 100%;
    font-size: 10px !important;
  }
}
@media only screen and (min-width: 751px) and (max-width: 1250px) {
  .search-tours-wrap .search-tours-content .tours-container .selection-box:before{
    border-right:none !important ;
  }
  .main-slider {
    margin-top: 0px;
    position: relative;
  } 
  .main-menu {
    background: #fff !important;
    width: 90% !important;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 99999;
    height: auto;
}
  .search-tours-form {
    position: absolute;
    z-index: 20;
    bottom: 40%;
    left: 50%;
    width: 60%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.search-tours-wrap {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

.search-tours-wrap .search-tours-tabs {
  overflow: hidden;
}

.search-tours-wrap .search-tours-tabs .search-tabs-wrap {
  text-align: center;
  font-size: 0;
  overflow: hidden;
  margin-right: -20px;
  margin-left: -5px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search-tours-wrap .search-tours-tabs .search-tabs-wrap .tours-tab-btn {
  display: inline-block;
  color: #a9b5c1;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
  margin-right: 1px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.search-tours-wrap .search-tours-tabs .search-tabs-wrap .tours-tab-btn span {
  position: relative;
  z-index: 1;
}

.search-tours-wrap .search-tours-tabs .search-tabs-wrap .tours-tab-btn .tours-tab-icon {
  color: #fff;
  font-size: 22px;
  position: absolute;
  z-index: 1;
  left: 25%;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  -o-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search-tours-wrap .search-tours-tabs .search-tabs-wrap .tours-tab-btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: -7px;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: skew(-16deg);
  -moz-transform: skew(-16deg);
  -ms-transform: skew(-16deg);
  -o-transform: skew(-16deg);
  transform: skew(-16deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.search-tours-wrap .search-tours-tabs .search-tabs-wrap .tours-tab-btn.active {
  color: #ffffff;
}

.search-tours-wrap .search-tours-tabs .search-tabs-wrap .tours-tab-btn.active:before {
  background: transparent;
}

.search-tours-wrap .search-tours-content {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  height: 0;
}
.search-tours-wrap .search-tours-content-offer {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.search-tours-wrap .search-tours-content .tours-container {
  padding: 8px;
  background: #3333333d;
}

.search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search {
  height: 52px;
  background: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search form.form.search {
  -webkit-box-flex: 2;
  -webkit-flex: 2 1 auto;
  -moz-box-flex: 2;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
}

.search-tours-wrap .search-tours-content .tours-container .tours-box .tours-calendar input[type="text"],
    .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-calendar input[type="date"] {
  padding-left: 30px;
}

.search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search {
  height: 52px;
  background: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search form.form.search {
  -webkit-box-flex: 2;
  -webkit-flex: 2 1 auto;
  -moz-box-flex: 2;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
}

.search-tours-wrap .search-tours-content .tours-container .holidays-box .tours-calendar input[type="text"],
    .search-tours-wrap .search-tours-content .tours-container .holidays-box .tours-calendar input[type="date"] {
  padding-left: 30px;
}

.search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-search {
  padding-bottom: 15px;
  width: 100%;
}

.search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select {
  height: 52px;
  background: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search {
  height: 52px;
  background: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search form.form.search {
  -webkit-box-flex: 3;
  -webkit-flex: 3 1 auto;
  -moz-box-flex: 3;
  -ms-flex: 3 1 auto;
  flex: 3 1 auto;
}

.search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .button-search {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.search-tours-wrap .search-tours-content .tours-container .cars-box > div + div {
  margin-top: 15px;
}

.search-tours-wrap .search-tours-content .tours-container .cars-box > *:not(.cars-advance) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-tours-wrap .search-tours-content .tours-container .cars-box .cars-calendar .tours-calendar > span {
  width: 49%;
  padding-left: 50px;
  display: inline-block;
}

.search-tours-wrap .search-tours-content .tours-container .cars-box .cars-calendar .tours-calendar .selection-box {
  width: 49%;
  display: inline-block;
}

.search-tours-wrap .search-tours-content .tours-container .cars-box .cars-search {
  position: relative;
}

.search-tours-wrap .search-tours-content .tours-container .cars-box .cars-search .button-search {
  position: absolute;
  right: 0;
  width: 18%;
}

.search-tours-wrap .search-tours-content .tours-container .flights-box > div + div {
  margin-top: 15px;
}

.search-tours-wrap .search-tours-content .tours-container .flights-box > *:not(.flights-advance) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-tours-wrap .search-tours-content .tours-container .flights-box .flights-search {
  position: relative;
}

.search-tours-wrap .search-tours-content .tours-container .flights-box .flights-search .button-search {
  position: absolute;
  right: 0;
  width: 18%;
}

.search-tours-wrap .search-tours-content .tours-container .flights-box .flights-select .tours-calendar {
  width: 25%;
}

.search-tours-wrap .search-tours-content .tours-container .flights-box .flights-select .tours-calendar > span {
  padding-left: 50px;
}

.search-tours-wrap .search-tours-content .tours-container .flights-box .flights-select .selection-box {
  width: 25%;
}

.search-tours-wrap .search-tours-content .tours-container .cars-advance span,
    .search-tours-wrap .search-tours-content .tours-container .flights-advance span {
  color: #ffc107;
  display: block;
}

.search-tours-wrap .search-tours-content .tours-container .cars-advance .checkbox-wrap,
    .search-tours-wrap .search-tours-content .tours-container .flights-advance .checkbox-wrap {
  display: inline-block;
  line-height: 18px;
  margin-right: 35px;
}

.search-tours-wrap .search-tours-content .tours-container .tours-calendar {
  line-height: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  background: #ffffff;
}

.search-tours-wrap .search-tours-content .tours-container .tours-calendar > span {
  cursor: pointer;
  padding-left: 10px;
  display: block;
}

.search-tours-wrap .search-tours-content .tours-container .tours-calendar input[type="text"],
      .search-tours-wrap .search-tours-content .tours-container .tours-calendar input[type="date"] {
  border-color: transparent;
  height: 52px;
  padding-left: 48px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  max-width: 175px;
}

.search-tours-wrap .search-tours-content .tours-container .tours-calendar .calendar-icon {
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 50%;
  left: 22px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #5f5f5e;
}

.search-tours-wrap .search-tours-content .tours-container .selection-box {
  -webkit-box-flex: 1;
  -webkit-flex: 5 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 5 1 auto;
  flex: 5 1 auto;
  background: #ffffff;
}

.search-tours-wrap .search-tours-content .tours-container .selection-box .box-icon {
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #6b6b6b;
  line-height: 52px;
}

.search-tours-wrap .search-tours-content .tours-container .selection-box select {
  height: 52px;
  border-color: transparent;
  padding-left: 30px;
}

.search-tours-wrap .search-tours-content .tours-container .selection-box:before {
  top: 0;
  left: 58%;
}

.search-tours-wrap .search-tours-content .tours-container form.form.search {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.search-tours-wrap .search-tours-content .tours-container form.form.search .search-wrap {
  position: relative;
  z-index: 1;
}

.search-tours-wrap .search-tours-content .tours-container form.form.search .search-wrap input[type="text"] {
  border-color: transparent;
  height: 52px;
  padding-left: 30px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.search-tours-wrap .search-tours-content .tours-container form.form.search .search-wrap .search-icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 20px;
  font-size: 16px;
  color: #777777;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-tours-wrap .search-tours-content .tours-container .button-search {
  -webkit-box-flex: 2;
  -webkit-flex: 2 1 auto;
  -moz-box-flex: 2;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  line-height: 52px;
  cursor: pointer;
  top: 0;
}

.search-tours-wrap .search-tours-content .tours-container .button-search:before {
  content: '';
  position: absolute;
  z-index: -1;
  right: -8px;
  width: 100%;
  height: 100%;
  background: #319197;
}

.search-tours-wrap .search-tours-content .tours-container .buttons-wrap {
  display: inline-block;
  vertical-align: text-bottom;
}

.search-tours-wrap .search-tours-content .tours-container .buttons-wrap .tour-button {
  color: #ffffff;
  font-weight: 500;
  padding: 0 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 35px;
}

.search-tours-wrap .search-tours-content .tours-container .buttons-wrap .tour-button:hover {
  background: #ffc107;
  border-color: #ffc107;
}

.search-tours-wrap .divider-skew:before {
  content: '';
  position: absolute;
  z-index: 2;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0; 
  border-right: 1px solid #e8ecf0;
}
.search-tours-wrap .divider-skew:before {
  content: '';
  position: absolute;
  z-index: 2;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0; 
  border-right: 1px solid #e8ecf0;
}
.search-tours-wrap .search-tours-content .tours-container .selection-box:before{
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 45px !important;
  right: 0;
  top: 15px;
  bottom: 0;
  border-right: 1px solid #f7f8fa;
}
.search-tours-form.mob-search-form {
  position: relative;
  top: 0;
  bottom: initial;
  left: 0;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

@media (max-width: 1200px) {
  .search-tours-wrap .search-tours-content .tours-container .tours-calendar input[type="text"],
.search-tours-wrap .search-tours-content .tours-container .tours-calendar input[type="date"] {
      max-width: 160px;
  }
}

@media (max-width: 981px) {
  .search-tours-wrap .search-tours-content {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search form.form.search .search-wrap input[type="text"] {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .tours-calendar select,
  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .selection-box select {
      font-size: 13px;
      padding-left: 30px;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .tours-calendar > span {
      padding-left: 20px;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .button-search {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search form.form.search .search-wrap input[type="text"] {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .tours-calendar select,
  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .selection-box select {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .tours-calendar > span {
      padding-left: 20px;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .button-search {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-search form.form.search .search-wrap input[type="text"] {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .tours-calendar select,
  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .selection-box select {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .button-search {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search form.form.search .search-wrap input[type="text"] {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .tours-calendar select,
  .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .selection-box select {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .button-search {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-calendar > span {
      padding-left: 20px;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box .flights-search form.form.search .search-wrap input[type="text"] {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box .tours-calendar select,
  .search-tours-wrap .search-tours-content .tours-container .flights-box .selection-box select {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box .flights-search-pref form.form.search .search-wrap input[type="text"] {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box .flights-search-pref .button-search {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box .flights-advance label {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-search form.form.search .search-wrap input[type="text"] {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .tours-calendar select,
  .search-tours-wrap .search-tours-content .tours-container .cars-box .selection-box select {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-search-car form.form.search .search-wrap input[type="text"] {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-search-car .button-search {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-advance label {
      font-size: 13px;
  }
}

@media (max-width: 767px) {
  .search-tours-wrap .search-tours-tabs .search-tabs-wrap .tours-tab-btn.active {
      -webkit-box-flex: 3;
      -webkit-flex: 3;
      -moz-box-flex: 3;
      -ms-flex: 3;
      flex: 3;
  }

  .search-tours-wrap .search-tours-tabs .search-tabs-wrap .tours-tab-btn .tours-tab-icon {
      font-size: 18px;
  }

  .search-tours-wrap .search-tours-tabs .search-tabs-wrap .tours-tab-btn:not(.active) span {
      opacity: 0;
  }

  .search-tours-wrap .search-tours-tabs .search-tabs-wrap .tours-tab-btn:not(.active) .tours-tab-icon {
      left: 50%;
      -webkit-transform: translate(-90%, -50%);
      -moz-transform: translate(-90%, -50%);
      -ms-transform: translate(-90%, -50%);
      -o-transform: translate(-90%, -50%);
      transform: translate(-90%, -50%);
  }

  .search-tours-wrap .search-tours-content {
      font-size: 13px;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search {
      display: block;
      height: auto;
      background: transparent;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search > * {
      height: 40px;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .tours-calendar,
    .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .selection-box {
      width: 50%;
      margin-bottom: 5px;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .tours-calendar input[type="text"],
      .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .tours-calendar input[type="date"],
      .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .selection-box input[type="text"],
      .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .selection-box input[type="date"] {
      padding-left: 38px;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .tours-calendar:nth-of-type(2),
      .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .selection-box:nth-of-type(2) {
      float: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .tours-calendar:nth-of-type(2):before,
        .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .selection-box:nth-of-type(2):before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .tours-calendar:nth-last-of-type(2),
      .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .selection-box:nth-last-of-type(2) {
      float: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .tours-calendar:nth-last-of-type(2):before,
        .search-tours-wrap .search-tours-content .tours-container .tours-box .tours-search .selection-box:nth-last-of-type(2):before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search {
      display: block;
      height: auto;
      background: transparent;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search > * {
      height: 40px;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .tours-calendar,
    .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .selection-box {
      width: 50%;
      margin-bottom: 15px;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .tours-calendar input[type="text"],
      .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .tours-calendar input[type="date"],
      .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .selection-box input[type="text"],
      .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .selection-box input[type="date"] {
      padding-left: 38px;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .tours-calendar:nth-of-type(2),
      .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .selection-box:nth-of-type(2) {
      float: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .tours-calendar:nth-of-type(2):before,
        .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .selection-box:nth-of-type(2):before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .tours-calendar:nth-last-of-type(2),
      .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .selection-box:nth-last-of-type(2) {
      float: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .tours-calendar:nth-last-of-type(2):before,
        .search-tours-wrap .search-tours-content .tours-container .holidays-box .holidays-search .selection-box:nth-last-of-type(2):before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-search {
      display: block;
      height: auto;
      background: transparent;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-search > * {
      height: 40px;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-search form.form.search {
      margin-bottom: 0;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select {
      display: block;
      height: auto;
      background: transparent;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select > * {
      position: relative;
      height: 40px;
      text-align: center;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select > *:nth-last-child(2):before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select > *:first-child .calendar-widget {
      left: 0;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .tours-calendar,
    .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .selection-box {
      width: 50%;
      margin-bottom: 15px;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .tours-calendar:nth-of-type(2),
      .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .selection-box:nth-of-type(2) {
      float: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .tours-calendar:nth-of-type(2):before,
        .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .selection-box:nth-of-type(2):before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .tours-calendar:nth-last-of-type(2),
      .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .selection-box:nth-last-of-type(2) {
      float: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .tours-calendar:nth-last-of-type(2):before,
        .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .selection-box:nth-last-of-type(2):before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .hotels-box .hotels-select .selection-box {
      width: 33.33%;
  }

  .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search {
      display: block;
      height: auto;
      background: transparent;
  }

  .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search > * {
      height: 40px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .tours-calendar,
    .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .selection-box {
      width: 100%;
      margin-bottom: 15px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .tours-calendar:nth-of-type(2),
      .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .selection-box:nth-of-type(2) {
      float: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .tours-calendar:nth-of-type(2):before,
        .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .selection-box:nth-of-type(2):before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .tours-calendar:nth-last-of-type(2),
      .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .selection-box:nth-last-of-type(2) {
      float: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .tours-calendar:nth-last-of-type(2):before,
        .search-tours-wrap .search-tours-content .tours-container .cruise-box .cruise-search .selection-box:nth-last-of-type(2):before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box > div + div {
      margin-top: 15px;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box > *:not(.flights-advance) {
      height: 40px;
      display: block;
      height: auto;
      background: transparent;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box .flights-select > *:last-child:before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box .flights-select > *:nth-of-type(2) {
      float: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box .flights-select > *:nth-of-type(2):before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box .flights-select .tours-calendar {
      width: 50%;
      margin-bottom: 15px;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box .flights-select .tours-calendar:last-child:before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .flights-box .flights-select .selection-box {
      width: 50%;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box > div + div {
      margin-top: 15px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box > *:not(.flights-advance) {
      height: 40px;
      display: block;
      height: auto;
      background: transparent;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-calendar > *:last-child:before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-calendar > *:nth-of-type(2) {
      float: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-calendar > *:nth-of-type(2):before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-calendar .tours-calendar {
      width: 100%;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-calendar .tours-calendar input[type="text"],
    .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-calendar .tours-calendar input[type="date"] {
      width: 50%;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-calendar .tours-calendar:first-child {
      margin-bottom: 15px;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-calendar .tours-calendar:first-child:before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .cars-box .cars-calendar .tours-calendar .selection-box {
      width: 48%;
      float: none;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-calendar {
      line-height: 40px;
      display: inline-block;
      background: #ffffff;
      float: left;
      text-align: left;
      position: relative;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-calendar input[type="text"],
    .search-tours-wrap .search-tours-content .tours-container .tours-calendar input[type="date"] {
      height: 40px;
      padding-left: 38px;
      width: 100%;
  }

  .search-tours-wrap .search-tours-content .tours-container .tours-calendar .calendar-icon {
      left: 12px;
  }

  .search-tours-wrap .search-tours-content .tours-container .selection-box {
      line-height: 40px;
      display: inline-block;
      background: #ffffff;
      float: left;
      text-align: left;
      position: relative;
  }

  .search-tours-wrap .search-tours-content .tours-container .selection-box .box-icon {
      line-height: 40px;
      left: 12px;
  }

  .search-tours-wrap .search-tours-content .tours-container .selection-box select {
      height: 40px;
      padding-left: 30px;
  }

  .search-tours-wrap .search-tours-content .tours-container form.form.search {
      margin-bottom: 5px;
  }

  .search-tours-wrap .search-tours-content .tours-container form.form.search:before {
      display: none;
  }

  .search-tours-wrap .search-tours-content .tours-container form.form.search .search-wrap {
      position: relative;
      z-index: 1;
  }

  .search-tours-wrap .search-tours-content .tours-container form.form.search .search-wrap input[type="text"] {
      height: 40px;
      padding-left: 35px;
  }

  .search-tours-wrap .search-tours-content .tours-container form.form.search .search-wrap .search-icon {
      left: 10px;
  }

  .search-tours-wrap .search-tours-content .tours-container .button-search {
      line-height: 40px;
      width: 100% !important;
      position: relative !important;
  }

  .search-tours-wrap .search-tours-content .tours-container .button-search:before {
      right: 0;
      left: 1px;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
  }
}

@media (max-width: 480px) {
  .search-tours-wrap .search-tours-content .tours-container .cars-advance .checkbox-wrap,
.search-tours-wrap .search-tours-content .tours-container .flights-advance .checkbox-wrap {
      display: block;
  }

  .search-tours-wrap .search-tours-content .tours-container .buttons-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -moz-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
  }

  .search-tours-wrap .search-tours-content .tours-container .buttons-wrap .tour-button {
      margin-top: 10px;
  }
}
  
.wwa-left {
  margin-bottom: 35px;
}
.destination-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 1.5rem; 
  max-width: 1240px;
  margin: auto;
}
.destination-tile{
  flex: 1; 
}
.destination-text {
  background: white;
  width: 90%;
  position: relative;
  margin: auto;
  text-align: center;
  bottom: 40px;
  padding: 2px;
  border-radius: 3px;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
.who-we-are {
  background: #fafafa;
  padding-top: 30px;
  padding-bottom: 30px;
}
.left-heading {
  color: #333;
  text-transform: uppercase;
  font-size: 24px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 25px;
}
.left-heading::after {
  content: "";
  border-bottom: 4px solid #319197;
  width: 30%;
  display: block; 
}
.sec-heading {
  color: #333;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 40px;
}
.list-icon{
  width: 18px;
  margin-right: 5px;
  color: #333;
}
.list-text{
  color: #333;
  margin-bottom: 5px;
}
.sec-heading::after {
  content: "";
  border-bottom: 4px solid #319197;
  width: 150px;
  display: block;
  margin: 0 auto;
}
.footer-links {
  list-style: none;
  color: #bababa;
  font-size: 18px;
  a:hover {
    color: #bababa;
  }
}
.white-font{
  color: #fff !important;
}
.reviews-link {
  color: #0088C1 !important;
  font-size: 15px;
  font-weight: 500;
}
.home-reviews {
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-chat {
  border: none;
  padding: 5px 15px;
  border-radius: 3px;
}
.slider-text {
  color: #fff;
  font-family: Gill Sans MT;
  /* margin: 0 auto; */
  padding: 5px 10px;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 25px;
}
.chat-text{
  font-size: 22px;
}
.live-chat-info::before{
  content: "";
  background-color: #fff;
  height: 110px;
  display: block;
  position: absolute;
  top: 5px;
  left: 1px;
  width: 3px;
}
.review-name{
  color: #333;
  font-size: 10px;
  font-weight: 500;
}
.review-text {
  font-size: 13px;
  color: #333;
  line-height: 18px;
}
.home-chat {
  background: #099097;
  padding-top: 30px;
  padding-bottom: 30px;
}
.home-contact {
  background: #fafafa;
  padding-top: 25px;
  padding-bottom: 25px;
}
.chat-text1 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}
.chat-num {
  font-size: 30px;
}
.offer-packages{
  display: grid;
}
.contact-blue{
  background: #02ACCD;
  padding: 3%;
  color: #fff;
  text-align: center;
  border-radius: 3px;
}
.contact-yellow{
  background: #FCBD04;
  padding: 3%;
  color: #333;
  text-align: center;
  border-radius: 3px;
}
.offer-price{
  font-size: 24px;
}
.center-text{
  text-align: center !important;
}
.offer-text {
  background: rgb(51 51 51 / 50%);
  width: 100%;
  position: relative;
 /*  margin: auto; */
  padding: 5px !important;
  bottom: 130px;
  border-radius: 0px;
  color: #fff;
  font-weight: 500;
  margin-block-start: -65px;
}
.breadcumbs-text {
  position: relative;
  bottom: 40px;
  background: hsl(0deg 0% 100% / 70%);
  width: 100%;
}
.offers-deals-heading{
  text-transform: uppercase;
  font-size: 22px;
  font-weight:500 ;
}
.hotel-grid{
  background: #EFF3F6;
  box-shadow: 1px 1px 1px #cccccc99;
}
.hotel-grid-text {
  padding: 10px;
}
.offer-date {
  font-size: 10px;
  font-weight: 500;
  margin-left: 5px;
}
.offers-deals-price {
  font-size: 22px;
  font-weight: 500;
}
.offer-price-img{
  position: relative;
  bottom: 4px;
}