<div class="breadcumbs">
  <img src="../../../../../assets/images/commonbanner.jpg" height="350px" width="100%">
  <div class="breadcumbs-text">
    <p class="pt-2 pl-3 pb-2">Home > Privacy Policy</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3 class="heading">Privacy Policy & Cookies</h3>
    </div>
  </div>
  <div class="mt-2 mb-5">
    <input id="_1" type="checkbox"> 
    <label class="drop drop1" for="_1">Who is responsible for managing my information?</label>
    <div class="content content1 my-3">
      This is the Privacy Policy of LUXURY HOLIDAYS DIRECT (C/O trading also as Sunset Faraway Holidays and Sunset Flight Club) ("we" or "us"). We are responsible for the collection and proper management of any personal information you submit. We will keep your personal details secure and use the information you provide consistently with applicable privacy and data protection laws and the terms of this Privacy Policy.
    </div>

    <input id="_2" type="checkbox"> 
    <label class="drop drop2" for="_2">Who is responsible for managing my information?</label>
    <div class="content content2 mb-2">
      We obtain your personal data from the following sources:<br><br>

      2.1 Directly from you, either in person (at our locations or otherwise), via our website, via email or by telephone. This could include personal data which you provide when you:<br><br>

      (a) request a brochure;<br>
      (b) book an appointment;<br>
      (c) use our "Live Chat" facility on our website or otherwise contacting our Personal Travel Experts or Customer Service Team;<br>
      (d) apply for our products or services, including where you sign up<br>
      (e) browse or create an account on our website;<br>
      (f) subscribe to our service or publications;<br>
      (g) request marketing to be sent to you;<br>
      (h) enter into a competition or promotion;<br>
      (i) completing a survey from us;<br>
      (j) saving a proposal;<br>
      (k) entering details at an event;<br>
      (l) send an email to us.<br><br>

      2.2 Automated technologies, such as call recording, cookies, server logs and other similar technologies. Third parties, such as:<br><br>

      (a) analytics providers;<br>
      (b) advertising networks;<br>
      (c) search information providers;<br>
      (d) providers of technical, payment and delivery services;<br>
      (e) data brokers or aggregators;<br>
      (f) partnerships;<br>
      (g) travel agents.<br><br>

      We also collect website usage information. We do this using cookies. For further information about cookies and how we use them please see our Cookie policy.
    </div>

    <input id="_3" type="checkbox"> 
    <label class="drop drop3" for="_3">How do we use your information?</label>
    <div class="content content3 mb-2">
      The information you provide may be used in a number of ways, for example:<br><br>

      
      <li>to enable us to complete your booking (see Section 4) - the processing is necessary for the purposes of the legitimate interests pursued by us or by a third party, except where such interests are overridden by your interests or fundamental rights and freedoms which require protection of personal data;</li>
      <li>for statistical purposes when we evaluate our range of services;</li>
      <li>to personalise repeat visits to our websites;</li>
      <li>to tell you about other products and services we think may be of interest to you</li>
      <li>to manage customer service queries; and</li>
      <li>to send you marketing communications for example information to keep you up to date with the latest news, events, offers, sales, brochures, promotions and competitions that we think might be of interest or relevance to you.</li>
      <li>to help us to provide details or information you may have requested.</li>
      <li>to comply with our legal obligations. In certain circumstances, we will need to use your information to comply with our legal obligations.</li>
      <li>to optimise our site. If you use our website, we will use your information to ensure that the content from our website is presented in an effective manner for you and your device, to provide you with access to our site in a manner that is effective, convenient and optimal.</li>
    </div>

    <input id="_4" type="checkbox"> 
    <label class="drop drop4" for="_4">Who will you share my information with?</label>
    <div class="content content4 mb-2">
      In order to provide you with the products and services that we offer we may share your information with:<br>
      4.1 our third party suppliers or sub-contractors who may process data on our behalf to enable us to provide you with our services. Any such disclosure will only be so that we can process your personal data for the purposes set out in this Privacy Notice;<br><br>

      4.2 our group companies and affiliates or third party data processers who may process data on our behalf to enable us to carry out our usual business practices. Any such disclosure will only be so that we can process your personal data for the purposes set out in this Privacy Notice;<br><br>

      4.3 HMRC, legal and other regulators or authorities, including those who request your personal data or to report any potential or actual breach of applicable law or regulation;<br><br>

      4.4 external professional advisers such as accountants, bankers, insurances, auditors and lawyers;<br><br>

      4.5 The Police, law enforcement agencies, courts, immigration authorities, customs and excise authorities or other relevant party, to the extent necessary for the establishment, exercise or defence of legal rights;<br><br>

      4.6 third parties where necessary for the purposes of prevention, investigation, detection or prosecution of criminal offences or the execution of criminal penalties;<br><br>

      4.7 third parties which are considering or have decided to buy some or all of our assets or shares, merge with us or to whom we may transfer our business (including in the event of a reorganisation, dissolution or liquidation);<br><br>

      4.8 third parties operating plugins or content (such as Facebook, Twitter, Instagram) on our website which you choose to interact with;
    </div>

    <input id="_5" type="checkbox"> 
    <label class="drop drop5" for="_5">How do you manage my information?</label>
    <div class="content content5 mb-2">
      We may from time to time appoint other members of our group of companies, or third party service providers, to help us manage efficient systems within the business. We will only transfer your information to service providers who help manage our systems.
    </div>

    <input id="_6" type="checkbox"> 
    <label class="drop drop6" for="_6">When can we contact you in the future?</label>
    <div class="content content6 mb-2">
      We would like to send you information about our own products and services, as well as those of selected third parties. We may do this by post, telephone, email or SMS, unless you have told us that you do not wish to be contacted in this way. We will always ask you to confirm in advance that you are happy for us to allow third parties to contact you by email.<br><br>

      If you would like to change any of your preferences relating to the way in which we may use your information for direct marketing, then please update your user preference or send an email to <a href="mailto:enquiries@sunset.co.uk">enquiries@sunset.co.uk </a>
    </div>
  </div>
</div>
