<div class="breadcumbs">
  <img src="../../../../../assets/images/partner_airlines/image1.png" height="350px" width="100%">
  <div class="breadcumbs-text">
    <p class="pt-2 pl-3 pb-2">Home > Privacy Policy</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h3 class="heading">Privacy Policy & Cookies</h3>
    </div>
  </div>
  <div class="mt-2 mb-5">
    <input id="_1" type="checkbox"> 
    <label class="drop drop1" for="_1">Who is responsible for managing my information?</label>
    <div class="content content1 my-3">
      This is the Privacy Policy of LUXURY HOLIDAYS DIRECT (C/O trading also as Sunset Faraway Holidays and Sunset Flight Club) ("we" or "us"). We are responsible for the collection and proper management of any personal information you submit. We will keep your personal details secure and use the information you provide consistently with applicable privacy and data protection laws and the terms of this Privacy Policy.
    </div>

    <input id="_2" type="checkbox"> 
    <label class="drop drop2" for="_2">Who is responsible for managing my information?</label>
    <div class="content content2 mb-2">
    </div>

    <input id="_3" type="checkbox"> 
    <label class="drop drop3" for="_3">How do we use your information?</label>
    <div class="content content3 mb-2">
    </div>

    <input id="_4" type="checkbox"> 
    <label class="drop drop4" for="_4">Who will you share my information with?</label>
    <div class="content content4 mb-2">
    </div>

    <input id="_5" type="checkbox"> 
    <label class="drop drop5" for="_5">How do you manage my information?</label>
    <div class="content content5 mb-2">
    </div>

    <input id="_6" type="checkbox"> 
    <label class="drop drop6" for="_6">When can we contact you in the future?</label>
    <div class="content content6 mb-2">
    </div>
  </div>
</div>
